/*MEDIAQUERIS*/
/*Caroline & Fanny & Amanda*/ 
/*FOR TABLET*/
@media (min-width: 801px) {

  /*HEADERHERO*/ 
  /*HEADLINE - HEADER*/
  .HeaderHero__Title {
    font-size: 90px;
    flex-direction: row;
  }
  /*PARAGRAPH */
  /*[deluxe]*/
  .HeaderHero__Text {
    font-size: 60px;
  }
  

  /*NAVBAR*/ 
  .Header__Menu-Text {
    display: flex;
  }
  .Menu {
    width: 300px;
    margin-left: -300px;
  }

  
  .paragraphSection {
    padding: 30px;
    font-size: 25px;
  }
  #buttonSubscribe {
    margin-left: 30px;
  }
  .spaceSection {
    margin-top: 60px;
  }
  #textSectionSpace {
    margin-top: 130px;
  }
  #drinkSection {
    height: 400px;
  }
  #foodSection {
    height: 400px;
  }
  #signUp {
    width: 550px;
    height: 550px;
  }


  /*GALLERY*/ 
  .Gallery__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Gallery__Item {
    max-width: 33.3%;
  }



  /*PROMOTIONALS*/ 
  .Promotionals__Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Promotionals__Items {
    flex: 33.3%;
  }


  /*STANDARD*/ 
  .Standard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Standard__Column {
    flex: 50%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  
  /*HOME.PHP*/
  /*LIFESTYLE*/ 
  .Archive-Post__Items {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
  }
  .Post__Item {
    width: 50%; 
  }
  /*SIDEBAR*/ 
  .SidebarWidget {
  background: grey; 
  }

}
